.profile__edit-button {
  width: 24px;
  height: 24px;
  background: url(../../../images/svg/edit-button.svg) no-repeat;
  object-fit: cover;
  background-size: 100%;
  background-position: center;
  position: absolute;
  right: 0;
  top: 25%;
  border: 0;
  cursor: pointer;
  background-color: #000;
}
