.pop-up__button-save {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  overflow: hidden;
  color: #ffffff;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  width: 358px;
  height: 50px;
  background-color: #000;
  margin-top: 48px;
}

@media (max-width: 375px) {
  .pop-up__button-save {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

.pop-up__button-save:hover {
  opacity: 0.8;
  transition: 0.3s ease;
}
