.profile__add-button {
  width: 150px;
  height: 53px;
  background: url(../../../images/svg/add-button.svg) no-repeat;
  object-fit: cover;
  background-size: 100%;
  background-position: center;
  position: absolute;
  right: 0;
  background-color: #000;
  border: 0;
  cursor: pointer;
}
