.pop-up__body {
  margin: auto;
  margin-top: 195px;
  width: 356px;
  height: 259px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 35px;
  position: relative;
}

@media (max-width: 375px) {
  .pop-up__body {
    width: 238px;
    height: 272px;
    padding: 25px 22px;
    margin-top: 123px;
  }
}
